</div>
<footer>
	<div class="container">
		<span class="copyright">技术新Q群：435485569</span>
	</div>
</footer>
<div class="modal fade bs-example-modal-sm" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm animal userModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">用户登录</h4>
      </div>
		<form id="loginForm" class="hide">	
      		 <div class="modal-body">

        	<div class="input-group form-group">
				<span class="input-group-addon glyphicon glyphicon-user" style="top:0"></span>
				<input type="text" class="form-control" maxLength="50" id="l_username" placeholder="Username - must be email" aria-describedby="basic-addon1">
			</div>
			<div class="input-group form-group">
				<span class="input-group-addon glyphicon glyphicon-lock" style="top:0"></span>
				<input type="password" class="form-control" maxLength="20" id="l_password" placeholder="Password" aria-describedby="basic-addon1">
			</div>
			<div class="form-group alignR">
				<a href="javascript:void(0)" class="underline toReg">点击注册</a>
			</div>
			</div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
		</form>
		<form id="registerForm" class="hide">
			<div class="modal-body">
			<div class="input-group form-group">
				<span class="input-group-addon glyphicon glyphicon-user" style="top:0"></span>
				<input type="text" class="form-control" maxLength="50" id="r_username" placeholder="Username - must be email" aria-describedby="basic-addon1">
			</div>
			<div class="input-group form-group">
				<span class="input-group-addon glyphicon glyphicon-lock" style="top:0"></span>
				<input type="password" class="form-control" maxLength="20" id="r_password" placeholder="Password" aria-describedby="basic-addon1">
			</div>
			<div class="form-group alignR">
				<a href="javascript:void(0)" class="underline toLog">点击登录</a>
			</div>
			</div>
		  <div class="modal-footer">
		    <button type="submit" class="btn btn-primary">提交</button>
		  </div>
		</form>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--script>
var _hmt = _hmt || [];
(function() {
return ;
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fca615d6ad621b43ae678025faa5727e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script-->
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.form.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.cookies.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/js/bootstrap.min.js"></script>
<script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/js/require.js"></script>
</body>
</html>
