</div>
<footer>
      <ul class="navigator">
        <li>技术新Q群：435485569</li>
    </ul>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
return ;
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fca615d6ad621b43ae678025faa5727e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.form.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/js/jquery.cookies.min.js"></script>
<script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/js/require.js"></script>
</body>
</html>
